.sp-content{
	position: absolute;
	width: 97%;
	margin-left: 1%;
	top: 74em;
}
.sp-content > div > iframe{
  width: 100%;
  height: 400px;
}
.profile-image > div{
  position: relative;
}
.profile-image > div > img{
  width: 100%;
  height: 200px;
}
.profile-image > div > div.profile-avatar{
  position: absolute;
	top: unset;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}
.profile-image > div > div.profile-avatar > img{
  width: 100%;
  height: 100px;
  border-radius: 10px;
}
.author-description{
  width: 100%;
	text-align: justify;
  padding: 5px;
  background-color: deepskyblue;
  padding: 55px 15px 15px 15px;
  direction: rtl;
}
.sp-content > div:last-child{
	direction: rtl;
  height: 450px;
  background-color: #48276d;
  color: white;
  line-height: 57px;
  border-radius: 15px;
}
.sp-content > div:last-child > span.stars{
  line-height: 0;
}
.sp-content > div:last-child > div.left-span > div > span:last-child{
	float: left;
}
.rating-stars ul > li.star.hover:first-child > i.fa {
  color:lightskyblue;
}
.rating-stars ul > li.star.hover:nth-child(2) > i.fa {
  color:cornflowerblue;
}
.rating-stars ul > li.star.hover:nth-child(3) > i.fa {
  color:mediumslateblue;
}
.rating-stars ul > li.star.hover:nth-child(4) > i.fa {
  color:mediumorchid;
}
.rating-stars ul > li.star.hover:last-child > i.fa {
  color:magenta;
}
.rating-stars ul > li.star.selected:first-child > i.fa {
  color:lightskyblue;
}
.rating-stars ul > li.star.selected:nth-child(2) > i.fa {
  color:cornflowerblue;
}
.rating-stars ul > li.star.selected:nth-child(3) > i.fa {
  color:mediumslateblue;
}
.rating-stars ul > li.star.selected:nth-child(4) > i.fa {
  color:mediumorchid;
}
.rating-stars ul > li.star.selected:last-child > i.fa {
  color:magenta;
}
.address-course > li:nth-child(3){
  color: white;
}
.address-course > li:last-child{
  color: yellowgreen;
}

#exTab2 ul{
  color : black;
  padding : 5px 15px;
  direction: rtl;
}
ul.nav li{
  float: right;
}
ul.edu-parts li:last-child{
	height: 28em;
}
ul.edu-comments li:last-child{
	height: 28em;
}
ul.edu-parts li{
  padding: 10px;
}
 ul.edu-comments li{
   padding: 10px;
 }
 #footer-space{
   height: 20em;
 }
 .h_iframe-aparat_embed_frame{position:relative;}
 .h_iframe-aparat_embed_frame .ratio {display:block;width:100%;height:auto;}
 .h_iframe-aparat_embed_frame iframe {position:absolute;top:0;left:0;width:100%; height:100%;}
.span-aparat{
	display: block;
	padding-top: 57%;
}
@media (max-width:1199px) {
	ul.edu-parts li:last-child{
		height: 0;
	}
	ul.edu-comments li:last-child{
		height: 0;
	}
	#space{
		height: 28em;
	}
	.sp-content > div:first-child{
		padding-bottom: 25px;
	}
}
@media (max-width:767px) {
	.sp-content{
		top: 50em;
	}
	.address-courses{
		font-size: 12px;
	}
}
@media (max-width:370px) {
	.sort-courses{
		height: 115px;
	}
}
@media (max-width:620px) {
	.address-courses{
		top: 10%;
	}
}
